@model IEnumerable<Parameter>
<link rel="stylesheet" href="~/css/admin-home.css" asp-append-version="true" />
<style>
    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .form-group h5 {
            margin: 0;
        }

        .form-group select {
            width: auto;
            margin-left: 10px;
        }

        .form-group button {
            margin-left: 10px;
        }
</style>

<div class="display-6 text-center">
    <h1>Parametreler</h1>

    <div class="d-flex justify-content-end my-3">
        <a asp-action="Create" class="btn btn-outline-success">
            <i class="fa fa-plus"></i>
            Oluştur
        </a>
    </div>

    <div class="table-container">
        <div class="form-group">
            <h5>
                <i class="fa-solid fa-filter"></i>
            </h5>
            <select class="form-control" id="parameterMachineFilter" name="machineFilter" style="width: auto; margin-left: 10px;">
                <option value="">Makine Seçiniz</option>
                @foreach (var machine in ViewBag.Machines)
                {
                    <option value="@machine.Value">@machine.Text</option>
                }
            </select>
            <button type="button" class="btn btn-secondary" id="parameterNoFilterButton" style="margin-left: 10px;">
                <i class="fa-solid fa-filter-circle-xmark"></i>
                Filtreyi Kaldır
            </button>
        </div>

        <table class="table table-striped table-hover">
            <thead class="thead-all">
                <tr>
                    <th>Makine</th>
                    <th>Parametre Adı</th>
                    <th>Değişiklikler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prmtr in Model)
                {
                    <tr>
                        <td>@(prmtr.Machine != null ? prmtr.Machine.MachineName : "Makine Yok")</td>
                        <td>@prmtr.ParameterName</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-warning" asp-action="Update" asp-controller="Parameter" asp-route-id="@prmtr.Id">
                                    <i class="fa fa-edit"></i>
                                    <span>Güncelle</span>
                                </a>
                                <a class="btn btn-danger" asp-action="Delete" asp-controller="Parameter" asp-route-id="@prmtr.Id">
                                    <i class="fa fa-trash"></i>
                                    <span>Sil</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var machineFilter = document.getElementById('parameterMachineFilter');
            var selectedMachineId = localStorage.getItem('selectedParameterMachineId');
            if (selectedMachineId) {
                machineFilter.value = selectedMachineId;
            }

            machineFilter.addEventListener('change', function () {
                var selectedMachineId = this.value;
                localStorage.setItem('selectedParameterMachineId', selectedMachineId);
                var url = '@Url.Action("Index", "Parameter", new { area = "Admin" })' + '?machineId=' + selectedMachineId;
                window.location.href = url;
            });

            document.getElementById('parameterNoFilterButton').addEventListener('click', function () {
                localStorage.removeItem('selectedParameterMachineId');
                window.location.href = '@Url.Action("Index", "Parameter", new { area = "Admin" })';
            });
        });
    </script>
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
