@model Machine

<link rel="stylesheet" href="~/css/machine-card.css" asp-append-version="true" />
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-3">
    <div class="card card-disconnect">
        <img src="@Url.Content($"~/images/machines/{Model.ImageUrl}")"
             onerror="this.onerror=null;this.src='@Url.Content("~/images/machines/defaultMachine.jpg")';"
             class="card-img-top" alt="@Model.MachineName">

        <div class="card-body">
            
            <h5 class="card-title">@Model.MachineName</h5>
            <div class="">
                <a asp-action="Get" asp-controller="Machine" asp-route-id="@Model.Id" class="btn connect-orange-button btn-lg">
                Detay
            </a>
                <button id="connect-btn-@Model.Id" onclick="toggleConnection(@Model.Id)" class="btn connect-pink-button btn-lg">
                Bağlan
            </button>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleConnection(machineId) {
        var button = document.getElementById('connect-btn-' + machineId);
        var card = button.closest('.card'); // Bu, 'card' sınıfına sahip en yakın üst öğeyi alır.
        var action = button.textContent.trim() === 'Bağlan' ? 'ModbusConnect' : 'ModbusDisconnect';

        button.disabled = true; // Butonu geçici olarak devre dışı bırak.

        // AJAX isteği ile backend metodunu çağır.
        fetch(`/Machine/${action}?machineId=${machineId}`, { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    if (action === 'ModbusConnect') {
                        button.classList.remove('btn-danger');
                        button.classList.add('btn-success');
                        card.style.background = '#27AE60';
                        button.textContent = 'Kop';
                        console.log("Bağlandınız");
                    } else {
                        button.classList.remove('btn-success');
                        button.classList.add('btn-danger');
                        // card.style.border = '6px solid #D40D12';  
                        card.style.background = '';
                        button.textContent = 'Bağlan';
                        console.log("Bağlantı kopartıldı");
                    }
                } else {
                    alert('İşlem başarısız.');
                }
            })
            .catch(error => {
                console.error('Hata:', error);
                alert('Bir hata oluştu.');
            })
            .finally(() => {
                button.disabled = false; // İşlem bittiğinde butonu tekrar aktif hale getir.
            });
    }

</script>
