@model Machine

<link rel="stylesheet" href="~/css/machine-card.css" asp-append-version="true" />
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-3">
    <div class="card card-disconnect">
        <img src="@Url.Content($"~/images/machines/{Model.ImageUrl}")"
             onerror="this.onerror=null;this.src='@Url.Content("~/images/machines/defaultMachine.jpg")';"
             class="card-img-top" alt="@Model.MachineName">

        <div class="card-body">
            
            <h5 class="card-title">@Model.MachineName</h5>
            <div class="">
                <a asp-action="Get" asp-controller="Machine" asp-route-id="@Model.Id" class="btn connect-orange-button btn-lg detail-btn">
                Detay
            </a>
                <button id="connect-btn-@Model.Id" onclick="toggleConnection(@Model.Id)" class="btn connect-pink-button btn-lg">
                Bağlan
            </button>
            </div>
          
        </div>
    </div>
    <div id="notification-container" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;"></div>

</div>
<script>
    function showNotification(message, color = 'gray', duration = 3000) {
        const container = document.getElementById('notification-container');
        const notification = document.createElement('div');

        notification.style.background = color;
        notification.style.color = 'white';
        notification.style.padding = '10px';
        notification.style.marginBottom = '5px';
        notification.style.borderRadius = '5px';
        notification.textContent = message;

        container.appendChild(notification);

        setTimeout(() => {
            container.removeChild(notification);
        }, duration);
    }

    function toggleConnection(machineId) {
        var button = document.getElementById('connect-btn-' + machineId);
        var card = button.closest('.card');
        var action = button.textContent.trim() === 'Bağlan' ? 'ModbusConnect' : 'ModbusDisconnect';

        button.disabled = true;

        fetch(`/Machine/${action}?machineId=${machineId}`, { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    if (action === 'ModbusConnect') {
                        button.classList.remove('btn-danger');
                        button.classList.add('btn-success');
                        card.style.background = '#27AE60';
                        button.textContent = 'Kop';
                        showNotification(machineId + " Id ' sine sahip makina ile Bağlantı Başarılı.", '#27AE60');
                    } else {
                        button.classList.remove('btn-success');
                        button.classList.add('btn-danger');
                        card.style.background = '';
                        button.textContent = 'Bağlan';
                        showNotification(machineId + " Id ' sine sahip makina ile Bağlantı Kopartıldı.", '#ab003f');
                    }
                } else {
                    showNotification('İşlem başarısız.', 'purple');
                }
            })
            .catch(error => {
                console.error('Hata:', error);
                showNotification('Bir hata oluştu.', 'blue');
            })
            .finally(() => {
                button.disabled = false;
            });
    }
</script>
